@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.visible {
  display: block;
}

span {
  display: none;
}

.movies-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid pink;
  overflow-x: auto;
}

.movie-item {
  width: 60%;
  font-size: 1.25rem;
}
